<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Details</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <header>
      <div class="logo"><img src="../static/images/logo.png" alt="" /></div>
      <div class="head"><h1>Employee Details</h1></div>
      <div class="exit"></div>
    </header>
    <main>
      <div class="image">
        <img src="../static/images/home.png" alt="Home" />
      </div>
      <div class="login">
        <div class="container">
          <form action="/login" method="POST">
            <h1>LOGIN</h1>
            <input type="text" name="name" placeholder="User Name" required />
            <input type="password" name="pwd" placeholder="Password" required />
            <input type="submit" value="LOGIN" />
          </form>
        </div>
      </div>
    </main>
    <footer>
      <h2>Designed and Crafted by Kavin</h2>
    </footer>
  </body>
</html>
