<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Employee Details</title>
        <link
          href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet"
        />
    </head>
    <body style="background:#282828;color:e0e0e0;">
        <div style="display: flex;flex-direction:column;height: 100vh;justify-content: center;align-items: center;">
            <h1 style="color: #c9c0c0;">{{msg}}</h1>
            <form>
                <input type="button" value="Go back!" onclick="history.back()"
                style="padding:20px 40px;background:#126cce;border-radius:8px;color:e0e0e0;cursor:pointer;">
            </form>
        </div>
    </body>
</html>